<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/globalFlashSet.css">
  <link rel="shortcut icon" href="https://static.wixstatic.com/media/2c087d_73dcbde349ad4de8817b27dd2bd93ea5~mv2.png/v1/fill/w_490,h_490,al_c/2c087d_73dcbde349ad4de8817b27dd2bd93ea5~mv2.png" />
  <title>Fleconomics Unit 5</title>
</head>
<body>

  <main>
    
    <header>
      <div class="container">
        <div id="header">
          <h1>U5: Governmental Macroeconomic Intervention</h1>
          <div>
            <button id="show_card_box">Add Card</button>
            <button id="delete_cards">Del Cards</button>
            <button id="print_cards" onclick=window.print()>Print Cards</button>
            <button id="logout" onclick="logout()">Logout</button>
          </div>
        </div>
      </div>
    </header>
    
    <section>
      <div class="container">
        <div id="create_card">
          <h2>Create Flashcard</h2>
          <label for="question">Question</label>
          <textarea id="question" maxlength="280"></textarea>
          <label for="answer" maxlength="280">Answer</label>
          <br>
          <textarea id="answer"></textarea>
          <div>
            <button id="save_card">Save</button> <button id="close_card_box">Close</button>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div id="flashcards"></div>
      </div>
    </section>

  </main>
  
  <script src="/static/govt_Macro.js"></script>

<script>
  function logout() {
    location.assign("/");
  }
</script>
</body>
</html>