<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href=/static/login.css>
    <link rel="icon" href="/static/DIY Flash Cards.png"/>
    <link rel="shortcut icon" href="https://static.wixstatic.com/media/2c087d_73dcbde349ad4de8817b27dd2bd93ea5~mv2.png/v1/fill/w_490,h_490,al_c/2c087d_73dcbde349ad4de8817b27dd2bd93ea5~mv2.png" />
    <title>Fleconomics Login</title>
</head>

  <form action="/form_login" method="post">
    <div class="box">
      <h2>Welcome, Dhruv.</h2>
      <h3>Please enter your provided credentials:</h3>
      
        <div class="inputBox">
            <input type="text" name="username" required>
            <label>Username</label>
        </div>

        <div class="inputBox">
            <input type="password" name="password" required>
            <label>Password </label>
        </div>

        <input type="submit" name="" value="Login">
    </div>
  </form>

  <h1 >{{info}}</h1>

</body>
</html>