<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/sets.css">
    <link rel="shortcut icon" href="https://static.wixstatic.com/media/2c087d_73dcbde349ad4de8817b27dd2bd93ea5~mv2.png/v1/fill/w_490,h_490,al_c/2c087d_73dcbde349ad4de8817b27dd2bd93ea5~mv2.png" />
    <title>Fleconomics Sets</title>
</head>
<body>
    <div class="setsFormat">
        <div class="title">
            <h2 style="margin-top: 10px;">Welcome To Your Sets</h2>
            <h3 style="margin-top: 10; text-align: center;">Please click into a set you would like to edit</h3>
        </div>
        
        <div class="submitUnitOne">
            <input type="submit" name="" value="Unit 1: Resource Allocation" onclick="sendToUnitOne()" 
            style="width: 540px; 
                height: 130px; 
                border-radius: 50px;
                background-color:steelblue;
                box-shadow: 30px;
                font-size: x-large; 
                font-family: inherit;
                margin: 20px;
                display: block; 
                margin: auto;">
        </div>
        <div class="submitUnitTwo">
            <input type="submit" name="" value="Unit 2: The Price System and the Micro Economy" onclick="sendToUnitTwo()"
            style="width: 540px; 
                height: 130px; 
                border-radius: 50px;
                background-color:steelblue;
                box-shadow: 60px;
                font-size: x-large; 
                font-family: inherit; display: block; 
                margin: auto;"> 
        </div>

        <div class="submitUnitThree">
            <input type="submit" name="" value="Unit 3: Government Microeconomic Intervention" onclick="sendToUnitThree()" 
            style="width: 540px; 
                height: 130px; 
                border-radius: 50px;
                background-color:steelblue;
                box-shadow: 30px;
                font-size: x-large; 
                font-family: inherit; display: block; 
                margin: auto;">
        </div>
        <div class="submitUnitFour">
            <input type="submit" name="" value="Unit 4: The Macro Economy" onclick="sendToUnitFour()"
            style="width: 540px; 
                height: 130px; 
                border-radius: 50px;
                background-color:steelblue;
                box-shadow: 30px;
                font-size: x-large; 
                font-family: inherit; display: block; 
                margin: auto;">
        </div>
        <div class="submitUnitFive">
            <input type="submit" name="" value="Unit 5: Government Macroeconomic Intervention" onclick="sendToUnitFive()"
            style="width: 540px; 
                height: 130px; 
                border-radius: 50px;
                background-color:steelblue;
                box-shadow: 30px;
                font-size: x-large; 
                font-family: inherit; display: block; 
                margin: auto;">
        </div>
    </div>

    <div class="navigation">
  
        <a class="button" href="/selection">
          <img src="https://cdn4.iconfinder.com/data/icons/arrow-158/48/arrow-flat-blue-44-512.png">
      
    <div class="logout">RETURN</div>
    
        </a>
      
    </div>

<script type="text/javascript"> /* Redirecting the client to the following flashcard sets after he interacts with the various buttons*/
    function sendToUnitOne() {
        location.assign("/unitOne")
    }
    function sendToUnitTwo() {
        location.assign("/unitTwo")
    }
    function sendToUnitThree() {
        location.assign("/unitThree")
    }
    function sendToUnitFour() {
        location.assign("/unitFour")
    }
    function sendToUnitFive() {
        location.assign("/unitFive")
    }
</script>
</body>
</html>