<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/todolist.css"/>
    <link rel="shortcut icon" href="https://static.wixstatic.com/media/2c087d_73dcbde349ad4de8817b27dd2bd93ea5~mv2.png/v1/fill/w_490,h_490,al_c/2c087d_73dcbde349ad4de8817b27dd2bd93ea5~mv2.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <title>Fleconomics Todo List</title>
  </head>
  <body>
    <header>
      <h1>Flashcard Planner</h1>
    </header>
    <form>
      <input type="text" class="todo-input" />
      <button class="todo-btn" type="submit">
        <i class="fas fa-plus-square"></i>
      </button>
      <div class="select">
        <select name="todos" class="filter-todo">
          <option value="all">All</option>
          <option value="completed">Completed</option>
          <option value="uncompleted">Uncompleted</option>
        </select>
      </div>
    </form>
    <div class="todo-container">
      <ul class="todo-list"></ul>
    </div>

    <div class="navigation">
  
      <a class="button" href="/selection">
        <img src="https://cdn4.iconfinder.com/data/icons/arrow-158/48/arrow-flat-blue-44-512.png">
    
      <div class="return">RETURN</div>
      
          </a>
        
      </div>
    <script src="/static/todolist.js"></script>
  </body>
</html>