@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Hind+Madurai:wght@300&display=swap');

body {
    margin: 0%;
    padding: 0%;
    font-family: 'Comfortaa', cursive;
    font-family: 'Hind Madurai', sans-serif;
    background: url(unnamed.jpeg);
    background-size: cover;
}


.setsFormat .title h2 {
    margin: 0 0 15px;
    font-size:xx-large;
    padding: 0%;
    color: #fff;
    text-align: center;
}

.setsFormat .title h3 {
    margin: 13px;
    font-size:large;
    padding: 0%;
    color: #fff;
    text-align: center;
}

.navigation {
    width: 100%;
    background-color: black;
  }
  
  img {
    width: 25px;
    border-radius: 50px;
    float: left;
  }
  
  .logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
      position: relative;
    top: -18opx;
    right: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    
  }
  
  .button {
      text-decoration: none;
      float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 25px;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
  }
  
  a:hover {
    width: 100px;
  }
  
  a:hover .logout{
    opacity: .9;
  }
  
  a {
    text-decoration: none;
  }
  
